body {
font-family: Arial, sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
    background-image: url('./images/Background.jpg'); /* Add this line */
}

main {
    padding: 10px;
}

#profile {
    display: block;
    flex-direction: column;
    align-items: center;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

nav ul li a {
color: white;
text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}


footer {
    text-align: center;
    padding: 10px 0;
}


#projects a {
    align-items: center;
    color: #47698d;
    text-decoration: underline

}
#research a {
    color: #47698d;
    text-decoration: underline;
} 
#contact a {
    color: #47698d;
    text-decoration: underline;
}   
