body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: #47698d;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
main {
  padding: 20px; 
  background-color: white;
}
h2 {
  margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #47698d;
    background-color: #e3f1ff;
    border-radius: 8px; /* Optional: rounded corners */
    
}

.Abstract {
  margin-bottom: 20px;
  text-align: justify;
}
.my_contributions {
  margin-bottom: 10px;
  text-align: justify;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
